body {
  min-width: 250px;
  user-select: none;
}

h2 {
  text-align: center;
  border-bottom: 2px solid;
  color: cornflowerblue;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#setter {
  text-align: center;
  margin-bottom: 10px;
}

#timer {
  font-size: 14em;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  font-family: monospace;
  border-radius: 10px;
}